<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A Warm Welcome, By Dhruv Sharma!
      </p>
    </div>
<!--
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://meanjs.org" target="_blank" rel="noopener">Learn more</a>
      </p>
    </div>
-->
  </div>
  <div>
    <h2>This App is based on MEAN.JS</h2>
	  <p>This project is built using MEAN.JS (version: 0.5.0) which is a full-stack JavaScript solution that helps you build fast,
		  robust, and maintainable production web applications using MongoDB, Express, AngularJS, and Node.js</p>
	  <b>It includes following main features:</b>
<ul>
	<li>User login and registration using passport.js (all strategies enabled like local, facebook, google etc.)</li>
	<li>User profile management with three types of users: admin, general user and guest</li>
	<li>Admin can manage users and articles on the website.</li>
	<li>General user can create items on the website which are visible publically i.e to all users.</li>
	<li>Users can see the items created by them and edit them (ownership of items is checked)</li>
	<li>All the routes(end-points) are protected on the basis of user roles.</li>
	<li>Uses express handlebars template engine for displaying views withing core page layout.</li>
	  </ul>
  </div>
</section>
